<!DOCTYPE html>
<html lang="en">
<head>

<!-- BROWSER TEXT: This section shows the text that displays in the browser tab.
NOTE: make the base template very general and then call this
block in any subsequent page (to update the text to be page-specific) -->

<title>

{% block browserTitle %}

{% endblock %}
</title>

<!-- MOBILE SCREEN: This section optimizes the sizing for mobile devices. Do not change -->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- CSS: This section points to the css file that you've created -->

{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<!-- JAVASCRIPT: This section points to the javascript file you've created -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

<!-- FAVICON: This section defines an icon to show in the browswer tab -->
<link rel="icon"
    type="image/png"
    href="https://db-virtualcocktail-production.s3.amazonaws.com/vcoIcon.png"> <!--Best practice to save the icon (in png format) to an S3 bucket and point to that-->

<!-- HOMESCREEN APP: This section defines an icon to show on your mobile homescreen -->
<link rel="apple-touch-icon"
    href="https://db-virtualcocktail-production.s3.amazonaws.com/vcoIcon.png"> <!--Best practice to save the icon (in png format) to an S3 bucket and point to that-->

    <!--Braintree/Venmo payments SDK-->
  <script src="https://js.braintreegateway.com/web/dropin/1.22.1/js/dropin.min.js"></script>
	<script src="https://js.braintreegateway.com/web/3.59.0/js/client.min.js"></script>
	<script src="https://js.braintreegateway.com/web/3.59.0/js/data-collector.min.js"></script>

  <!-- open graph tags for display when people share in different messaging apps -->
  <meta property="og:title" content="VirtualCocktail">
	<meta property="og:description" content="Help your favorite local restaurant">

  <!-- google icons for use in nav bar -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!--  PWA manifest file -->
  <link rel="manifest" crossorigin="use-credentials" href="/manifest.json">
  <!-- PWA iOS enable standalone -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- PWA iOS enable status bar override -->
  <meta name="apple-mobile-web-app-status-bar-style" content="default">

</head>

<body>

  <div class="nav-bar">
    <a href="{% url 'businesslist' %}">
    <div class="nav-logo"><img src="{% static 'main_logo.png' %}"></div></a>
    <div class="nav-burger" onclick="openNav()"><i class="material-icons">menu</i></div>
  </div>
  <div class="nav-spacer">
    <div class="nav-logo"><img src="{% static 'main_logo.png' %}"></div>
  </div>

  <div class="overlay-nav" id="overlay">
    <div class="nav-bar">
      <a href="{% url 'businesslist' %}">
      <div class="nav-logo"><img src="{% static 'main_logo.png' %}"></div></a>
        <div class="close-icon" onclick="closeNav()"><i class="material-icons">close</i></div>
    </div>
    <div class="nav-spacer">
      <div class="nav-logo" style="height: 100px;"></div>
    </div>
    <div class="margin-wrapper">
      <div class="overlay-menu">
          <a href="{% url 'submitbusiness' %}"><p>Add a business</p></a>
          <a href="{% url 'aboutus' %}"><p>About us</p></a>
          <a href="{% url 'businesslist' %}"><p class="secondary">Back to Virtual Cocktail</p></a>
      </div>
    </div>
  </div>

<!-- MOBILE CONTAINER: Sets up auto centered div width-fitted to mobile screen. DOES NOT SET VERTICAL HEIGHT -->
  <div class="main">
<!--
**MAIN CONTENT**
Each page extends this template and pipes in content within the content block
-->
  {% block content %}

  {% endblock %}

  </div>

  <div class="footer"></div>

  <script>
    function openNav() {
        document.getElementById("overlay").style.display = "block";
    }

    function closeNav() {
        document.getElementById("overlay").style.display = "none";
    }
</script>

<!--  PWA service worker update -->
<script>
 if (!navigator.serviceWorker.controller) {
     navigator.serviceWorker.register("/sw.js").then(function(reg) {
         console.log("Service worker has been registered for scope: " + reg.scope);
     });
 }
</script>

</body>
</html>
