{% extends '_baseTemplate.html' %}

{% block content %}
{% load static %}
<!-- DB TEST COMMENTS -->

<div class="margin-wrapper">
  <div class="FAQ-label">
    About us
  </div>
  <div class="FAQ-body">
    Welcome to The Virtual Cocktail, a site dedicated to supporting local businesses through COVID-19.
  </div>
  <div class="FAQ-label">
    What does the Virtual Cocktail do?
  </div>
  <div class="FAQ-body">
    The Virtual Cocktail is a platform that makes it easier for local businesses to connect with people looking to support them while their businesses are closed or otherwise affected by COVID-19.<br><br>
    You select the business you want to support (or find local businesses by searching for your zip code), and we connect you directly to an authorized bank account that’s been set up to receive contributions.
  </div>
  <div class="FAQ-label">
    Are my contributions tax deductible?
  </div>
  <div class="FAQ-body">
    Whilst we’re not able to provide specific tax advice, we anticipate that most of the businesses on The Virtual Cocktail will not be tax-exempt organizations. Instead, consider your payments here like you are spending at the business.
  </div>
  <div class="FAQ-label">
    Do you make money from these transactions?
  </div>
  <div class="FAQ-body">
    Nope! The Virtual Cocktail is a purely volunteer organization.<br><br>We’re passionate about supporting local communities and we’re doing this to help, in whatever way we can, the small businesses that are the lifeblood of these communities.
  </div>
  <div class="FAQ-label">
    How can I add a business to the Virtual Cocktail?
  </div>
  <div class="FAQ-body">
    <span class="secondary small">Click here!</span> We’re excited to add all types of businesses to The Virtual Cocktail. Add the business details through the form and we’ll get in touch as soon as possible.
  </div>
  <div class="FAQ-label">
    How can I get in touch?
  </div>
  <div class="FAQ-body">
    You can email us at [emailaddress@email.com]
  </div>
</div>

{% endblock %}
