{% extends "_baseTemplate.html" %}

{% block content %}

{% load static %}

<div class="margin-wrapper">
  <!-- Header text -->
  <div class="home-explainer">
    Click below to donate to your favorite small businesses
    </div>
  <div class="search-bar">

  <!-- Form for business search -->
    <form id="search-query" method="POST">
      {% csrf_token %}
      <div class="search-input">
        <div id=search-form style="height: 100%; width: 100%; display: inline-block">{{form.find_business}}</div>
        <button type="submit" class="search-button" id="search">Search</button>
      </div>
    </form>
  </div>

<!-- Tiles for business results -->
  <div class="results-container">
    <div class="row">
    {% for business in business_list %}
     <div class="rest-card">
        <a href="{% url 'setcocktails' business.business_name %}">

         <div class="rest-block">
           <div class="rest-img" style="background-image: url({{business.business_name.background_image.url}}); background-size: cover; background-position: 50% 80%"></div>
           <div class="rest-name">{{business.business_name}}</div>
           <div class="rest-location">New York City</div>
       </div>
     </a>
     </div>
     {% endfor %}
     <!-- end tile for submit business -->
      <div class="rest-card">
        <a href="submitbusiness">
          <div class="rest-block">
            <div class="rest-img"><p>&#129335;</p></div>
            <div class="rest-name">Not listed yet?</div>
            <div class="add-link">Click here to add!</div>
        </div>
        </a>
      </div>
    </div>
  </div>
  <!-- END business tiles -->
</div>
<!-- END margin wrapper -->

<div id="promptInstall">
  <div id="closeInstall" onclick="closePrompt()">X</div>
  <img id=installPromptImg src="https://db-virtualcocktail-production.s3.amazonaws.com/installPrompt1.png">
  </div>

<script>
  // Detects if device is on iOS
  const isIos = () => {
    const userAgent = window.navigator.userAgent.toLowerCase();
    return /iphone|ipad|ipod/.test( userAgent );
  }
  // Detects if device is in standalone mode
  const isInStandaloneMode = () => ('standalone' in window.navigator) && (window.navigator.standalone);

  // Checks if should display install popup notification:
  if (isIos() && !isInStandaloneMode()) {
    // this.setState({ showInstallMessage: true });
    document.getElementById("promptInstall").style.display = "block";
  }

  function closePrompt() {
      document.getElementById("installPromptImg").style.display = "none";
      document.getElementById("closeInstall").style.display = "none";
  }

</script>



{% endblock %}
