{% extends "_baseTemplate.html" %}

{% block content %}

{% load static %}

<div class="margin-wrapper">
  <div class="form-container" id=form-container-confirm>
      <div class="rest-img-hero" style="background-image: url({{ business_ref.background_image.url }}); background-size: cover; background-position: 50% 50%">
        <!-- <img src="{% static 'placeholder_rest.png' %}"> -->
      </div>
        <div class="margin-wrapper-form">
          <div class="name-hero" id=name-hero-confirm>{{business_name}}</div> <!---->
          <!-- Add number of cocktails variable from context -->
          <div class="confirm-hero">Your

            {% if number_input > 1 %}
            {{number_input}} virtual cocktails are
            {% elif number_input == 1 %}
            virtual cocktail is
            {% endif %}
            served!</div>

          <div class="thanks-text">Thank you for supporting local businesses during COVID 19.
            <br><br>Funds like yours help ensure these businesses we can continue to support staff and reopen as soon as this crisis passes.
        </div>
        <div class="vc-thanks">Thanks for visiting @virtualcocktailorg</div>
        </div>
  </div>
    <div class="confirm-footer">
      <div class="separator" id=separator-confirm></div>
      <div class="footer-text">Click here to share this to Instagram and feel free to tag <span id=insta-confirm>{{business_ref.instagram_handle}}</span> to let them know you're thinking of them in these difficult times!
<!--
        <br><br>
    And feel free to include <span class="secondary small">@insert_insta</span> and <span class="secondar smally">@virtualcocktailorg</span> – we’d love to hear from you! -->

     <a href="instagram://"><div class="post-button">Post to Instagram!</div></a>
   </div>
</div>

{% endblock %}
