{% extends "_baseTemplate.html" %}

{% block content %}

{% load static %}

<div class="margin-wrapper">
  <div class="form-container">
    <!-- <form id="donate_form" action="confirmation" method="POST"> -->
       <form id=donate_form method="POST">
      {% csrf_token %}

      <div class="rest-img-hero" style="background-image: url({{business_ref.background_image.url}}); background-size: cover; background-position: 50% 50%">
      </div>
        <div class="margin-wrapper-form">
          <div class="name-hero">{{business_name}}</div>
          <div class="cocktails-selector-row">
            <div class="selector-label theme">Add virtual cocktails</div>
            <div class="selector-result theme">
                <div class="selector-block" id="minus" onclick="minus()">-</div>
                <div class="selector-block" id="display_count">{{form.number_input}}</div>
                <div class="selector-block" id="plus" onclick="plus()">+</div>
            </div>
          </div>
          <div class="cocktails-selector-row">
            <div class="selector-label gray">Total</div>
            <div class="selector-result gray border-lines" id="value">$15</div>
          </div>
          <div id="dropin-container"></div>
          <div class="add-friends-label">Include friends in your order!</div>
          <input type="input" class="add-friends-form" id="add-friends-form" name="add-friends-form" placeholder="gordon@ramsay.com, danny@meyer.com">
          <input type="hidden" id="nonce" name="nonce">
          <input type="hidden" id="device_data" name="device_data">
        </div>
        <!-- NOTE: BOTH BUTTONS NEED PLACEMENT AND STYLING -->
        <!-- <button type=submit id="authorize-button1">Order your virtual cocktails</button> <!--style="position: absolute; bottom: 100px; height: 100px; width: 200px; background-color: blue"-->
      </form>
      <button id="authorize-button">Order your virtual cocktails!</button>

  </div>
</div>

<script>
var button = document.querySelector('#authorize-button');

braintree.dropin.create({
  authorization: 'sandbox_s9zvtq2d_snk9pzv46hv7tkdb',
  container: '#dropin-container',
  venmo:{}
}, function (createErr, instance) {
  button.addEventListener('click', function () {
  instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
    document.getElementById("nonce").value = payload.nonce;
    document.getElementById("device_data").value = payload.deviceData;
    document.getElementById("donate_form").submit();

  });
  });
});

function plus() {
            var current = document.getElementById("id_number_input").value;
            current = parseInt(current) + 1;
            document.getElementById("id_number_input").value = current;
            var value = current * 15;
            var display = '$' + value;
            document.getElementById("value").innerHTML = display;
            // document.getElementById("number_input").value = current;
        }

function minus() {
          var current = document.getElementById("id_number_input").value;
          current = parseInt(current);
          if (current > 0) {
            current = current - 1;
            document.getElementById("id_number_input").value = current
            var value = current * 15;
            var display = '$' + value;
            document.getElementById("value").innerHTML = display;
            // document.getElementById("number_input").value = current
          }
        }

var input = document.getElementById("display_count"),
  display=document.getElementById("value"),
  input_value = document.getElementById("id_number_input");

input.oninput=function(){
  update_value = input_value.value
  display.innerHTML = '$' + update_value * 15;
  };

</script>

{% endblock %}
