/* DEFINE CUSTOM FONTS */
@font-face {
  font-family: 'Brand_Font';
  src: local('Brand_Font'),
       url('/static/fonts/Alba_Brand.TTF') format("truetype");
     }

@font-face {
font-family: 'Text_Font';
src: local('Text_Font'),
     url('/static/fonts/Biome_Text.ttf') format("truetype");
   }

/* SET CSS VARIABLES */

:root {

  --brandColorMain: #0d19c2; /* Update HEX CODE with chosen color */
  --brandColorSecondary: #f75a84; /* Update HEX CODE with chosen color */
  --textFont: 'Text_Font', sans-serif;
  --TextSecondary: #7f7f7f; /* Update HEX CODE with chosen color */
  --brandFont: 'Brand_Font', cursive; /* App font style = XXXX */

}

/* Define global standards */

* {
  font-family: var(--textFont);
  font-size: 16px;
}

button {
  font-family: var(--textFont);
  max-width: 400px;
  -webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

body {
  background-color: var(--brandColorMain);
}

.testprompt {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 50px;
  width: 50px;
  visibility: visible;
  background-color: grey;
  color: red;
}

.main {
  background-color: white;
}

::-webkit-input-placeholder {
  font-family: var(--textFont);
  font-size: 0.75rem;
}
::-moz-placeholder {
  font-family: var(--textFont);
  font-size: 0.75rem;
}
:-ms-input-placeholder {
  font-family: var(--textFont);
  font-size: 0.75rem;
}
::placeholder {
  font-family: var(--textFont);
  font-size: 1rem;
}

a {
  text-decoration: none;
}

a:visited {
    color: var(--brandColorMain);
  }

/* EXAMPLE CSS VARIABLE APPLICATION */

#example_ID {
  font-family: var(--brandFont);
  background-color: var(--brandColorMain);
}

body {
  margin: 0;
}

.test {
  height: 50px;
  width: 50px;
  background-color: blue;
}

.margin-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
.margin-wrapper-form {
    padding-left: 5%;
    padding-right: 5%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.nav-logo {
    width: 90%;
    max-width: 600px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin: auto;
}
.nav-logo > img {
    width: 100%;
}

.nav-burger {
    height: 4rem;
    width: auto;
    position: absolute;
    left: 1rem;
    top: 0;
    padding-top: 0.5rem;
}

.nav-burger > i {
    font-size: 3rem;
    color: white;
}

.footer {
    width: 100%;
    padding-top: 2rem;
    text-align: center;
    overflow: hidden;
    padding-bottom: 5rem;
    margin-top: 6rem;
    z-index: -1;
}


.nav-bar {
    overflow:hidden;
    background-color: var(--brandColorMain);
    height: auto;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    width: 100%; /* Full width */
    text-align: center;
    z-index: 9;
}

.gray-bottom {
    border-bottom: 1px solid lightgray;
}

.theme-color {
    background-color: #00648F;
    color: white;
}

.overlay-nav {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: white;
}

.close-icon > i {
    font-size: 3rem;
    color: white;
}

.close-icon {
    height: 4rem;
    width: auto;
    position: absolute;
    left: 1rem;
    top: -0.5rem;
    padding-top: 1rem;
}

.overlay-menu {
    margin-top: 3rem;
    padding-left: 0.5rem;
    color: var(--brandColorMain);
    font-size: 1.8rem;
    text-align: left;
}

.overlay-menu > p {
  font-size: 1.4rem;
}

.footer {
    width: 100%;
    padding-top: 2rem;
    text-align: center;
    overflow: hidden;
    padding-bottom: 5rem;
    background-color: var(--brandColorMain);
}

.nav-spacer {
  visibility: hidden;
}

.main {
    padding-top: 1rem;
    width: 100%;
    overflow: hidden;
}

.search-bar {
  margin-top: 1rem;
}

.search-input {
  width: 100%;
  height: 2.75rem;
  margin: auto;
  position: relative;
}

.search-form {
  width: 70%;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 1rem;
  line-height: 1.75rem;
  position: absolute;
  background-color: #f3f6fc;
  left: 0;
  border-radius: 1rem 0 0 1rem;
  border: none;
  color: var(--brandColorMain);
}


.search-form:focus {
  outline: none;
}

.search-button {
  width: 30%;
  font-size: 1rem;
  padding: 0.5rem;
  line-height: 1.75rem;
  position: absolute;
  right: 0;
  border-radius: 0 1rem 1rem 0;
  border: none;
  background-color: var(--brandColorMain);
  color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 12rem;

}

.rest-card {
    flex: 50%;
    max-width: 50%;
}

.rest-block {
  height: auto;
  width: 90%;
  margin: 5%;
  padding-bottom: 0.5rem;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
}

.rest-img {
  height: 100px;
  width: 100%;
  height: 6.5rem;
}

.rest-img > img {
  width: 100%;
  height: 6.5rem;
  object-fit: cover;
}

.rest-img > p {
  font-size: 3rem;
  line-height: 6.5rem;
  text-align: center;
  margin: 0;
}

.rest-img-hero {
  height: 175px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.rest-img-hero > img {
  width: 100%;
  height: 9rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.rest-name {
  color: var(--brandColorMain);
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.rest-location {
  font-size: 0.6rem;
  color: #a6a6a6;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.form-container {
height: auto;
border-radius: 1rem;
-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
margin-top: 2rem;
text-align: center;
padding-bottom: 0.2rem;
margin-bottom: 0.2rem;
max-width: 800px;
margin-left: auto;
margin-right: auto;
}

.add-link {
  color: var(--brandColorSecondary);
  padding-left: 0.5rem;
}

.center {
  text-align: center;
}
.name-hero {
font-size: 1.5rem;
color:  var(--brandColorMain);
margin-bottom: 1rem;
margin-top: 0.5rem;
}

.cocktails-selector-row {
  width: 100%;
  height: 2rem;;
  position: relative;
}

.selector-label {
  text-align: left;
  line-height: 2rem;
  padding-left: 0.5rem;
  color: var(--brandColorMain);
  font-size: 0.9rem;
  position: absolute;
  width: 65%;
  left: 0;
}

.selector-result {
  height: 2rem;
  position: absolute;
  right: 0;
  width: 35%;
  line-height: 2rem;
  text-align: center;
  font-size: 0.9rem;
}

#id_number_input {
  line-height: 2rem;
  width: 100%;
  font-size: 0.75rem;
  text-align: center;
  padding: 0;
}

.selector-block {
  width: 33%;
  float:left;
  line-height: 2rem;
  font-size: 0.9rem;
}

.gray {
  color: #7f7f7f;
}

.theme {
  color: var(--brandColorMain);
}

.border-lines {
  border-top: 1px solid #a6a6a6;
  border-bottom: 1px solid #a6a6a6;
}

.authorize-button {
  width: 60%;
  border-radius: 0.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
  margin: auto;
}

#dropin-container {
  height: auto;
}

[data-braintree-id="choose-a-way-to-pay"] {
  display: none;
}

[data-braintree-id="toggle"] > span {
  font-size: 0.75rem;
}

.add-friends-label {
  text-align: left;
  font-size: 0.8rem;
  color: var(--brandColorMain);
  padding-left: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.add-friends-form {
  width: 95%;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 1rem;
  line-height: 1.75rem;
}

.add-friends-form:focus {
  outline: none;
}

#authorize-button {
  width: 90%;
  font-size: 0.75rem;
  padding: 0.5rem 1rem 0.5rem 0rem;
  line-height: 1.75rem;
  right: 0;
  border-radius: 1rem;
  border: none;
  background-color: var(--brandColorMain);
  color: white;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  margin-right: 5%;
  margin-left: 5%;
}

.confirm-hero {
  width: 100%;
  font-size: 0.75rem;
  padding: 0.5rem 0rem 0.5rem 0rem;
  background-color: var(--brandColorSecondary);
  color: white;
  line-height: 1.75rem;
}

.thanks-text {
  width: 90%;
  padding: 4% 5%;
  color:var(--TextSecondary);
  font-size: 0.75rem;
  text-align: left;
}

.vc-thanks {
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  width: 100%;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  /* DB CSS */
  height: 45px;
  line-height: 45px;
  background-color: var(--brandColorMain)
}

.separator {
  width: 65%;
  border-top: solid 1px var(--TextSecondary);
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: inline-block;
}

.secondary {
  color: var(--brandColorSecondary);
}

.main-color {
  color: var(--brandColorMain);
}

.post-button {
  text-align: center;
  width: 100%;
  font-size: 0.75rem;
  padding: 0.5rem 0rem 0.5rem 0rem;
  line-height: 1.75rem;
  border-radius: 1rem;
  background-color: var(--brandColorMain);
  color: white;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.confirm-footer {
  text-align: center;
}

.small {
  font-size: 0.75rem;
}
.footer-text {
  width: 90%;
  padding: 0 5% 5% 5%;
  color:var(--TextSecondary);
  font-size: 0.75rem;
  text-align: center;
}

.form-header {
  text-align: center;
  color:  var(--brandColorMain);
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.form-explainer {
  text-align: left;
  color: var(--TextSecondary);
  font-size: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.form-label {
  text-align: left;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
  margin-top: 0.5rem;
}

input {
  width: 95%;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 5%;
  line-height: 1.75rem;
  background-color: #f3f6fc;
  margin-bottom: 0.1rem;
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus {
  outline: none;
}

#id_is_yours {
  width: 100%;
  border: none;
  font-size: 1rem;
  padding: 0.75rem 0 0.75rem 10%;
  line-height: 1.75rem;
  background-color: #f3f6fc;
}


#id_is_yours:focus {
  outline: none;
}



#homepageInputButton {
  width: 100%;
  font-size: 0.75rem;
  padding: 0.5rem 0rem 0.5rem 0rem;
  line-height: 1.75rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--brandColorMain);
  color: white;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.in-touch {
  width: 100%;
  color: var(--brandColorMain);
  margin-top: 0rem;
  margin-bottom: 1rem;
  font-size: 0.75rem;
}

#isYoursInput {
  width: 60%;
  position: relative;
  left: 0;
  text-align: left;
}

.arrow {
  position: absolute;
  right: 1rem;
  top: 0.65rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 200px;
    font-size: 1rem;
}

option {
  font-size: 1rem;
  padding: 0;
  outline: none;
  border: none;
}

.FAQ-label {
  font-size: 0.75rem;
  color: var(--brandColorMain);
  text-align: left;
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
}

.FAQ-body {
  font-size: 0.75rem;
  color: var(--TextSecondary);
  text-align: left;
}

.bottom-margin {
  margin-bottom: 10rem;
}

.home-explainer {
  font-size: 1rem;
  color: var(--brandColorMain);
  text-align: left;
  padding-left: 10px;
}

#id_find_business {
  padding-left: 8px;
  color: grey;
}

/* DB CSS */

/* Confirmation page */
#form-container-confirm {
  margin-top: 0.25rem;
}

#name-hero-confirm {
  margin-bottom: 0.5rem;
}

#separator-confirm {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#insta-confirm {
  font-size: 14px;
  color: var(--brandColorSecondary);
}

#confirm-highlight-db {
  color: #f75a84;
  font-size: 14px;
}



@media screen and (max-width: 1000px) and (min-width: 600px) {
  .overlay-menu {
    margin-top: 3rem;
  }

  .rest-img-hero {
    height: 250px;
  }
  * {
    font-family: var(--textFont);
    font-size: 20px;
  }
  /* .main {
    padding-top: 200px;
  } */

}

@media screen and (min-width: 1000px) {
  .overlay-menu {
    margin-top: 3rem;
  }
  .rest-img-hero {
    height: 350px;
  }
  * {
    font-family: var(--textFont);
    font-size: 24px;
  }
  .rest-card {
      flex: 33%;
      max-width: 33%;
  }
  /* .main {
    padding-top: 200px;
  } */

}
